<launch>
  <arg name="debug" default="false"/>
  <arg name="respawn" default="false"/>
  <arg name="output_log" default="screen"/>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mw_global_planner)/custom_config.conf" if="$(arg debug)"/>
    
  <node name="global_planner" type="global_planner_action_node" pkg="mw_global_planner" output="$(arg output_log)" respawn="$(arg respawn)">
    <rosparam command="load" file="$(find mowito_rosbot)/config/global_planner_config/global_planner_action_server_params.yaml"/>
  </node>
</launch>
