<launch>

    <arg name="scan_topic" default="/scan" /> 
    <arg name="laser_frame" default="laser" />
    <arg name="odom_frame" default="odom" />
    <arg name="base_frame" default="base_link" />
    <arg name="map_frame" default="map" />
    
    <arg name="debug" default="false" />
    <arg name="respawn" value="true"/>

    <arg name="world_name" default="mowito"/>
    <arg name="gui" default="true"/>

    <!-- SIMULATION -->
    <!-- rosbot and the rviz-->
    <include file="$(find rosbot_description)/launch/rosbot_rviz.launch">
        <arg name="rviz_file" value="rosbot.rviz"/>
    </include>

    <!-- the world -->
    <include file="$(find rosbot_gazebo)/launch/rosbot_world.launch">
        <arg name="world" value="$(find rosbot_gazebo)/worlds/$(arg world_name).world"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- NAVIGATION -->
    <!-- mapping -->
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_mw_mapping.launch">
        <arg name="scan_topic" value="/scan" /> 
        <arg name="laser_frame" value="laser" />
        <arg name="odom_frame" value="odom" />
        <arg name="base_frame" value="base_link" />
        <arg name="map_frame" value="map" />
    </include>

    <!-- -for converting the odom msg to tf -->
    <node pkg="utils" type="msg_to_tf" name="msg_to_tf">
        <param name="odometry_topic" value="/odom"/>
    </node>

    <!-- nav server -->
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_nav_server.launch">
        <arg name="mission_executive_config" value="$(find mowito_rosbot)/config/mission_executive_config/exploration.yaml"/>
        <arg name="respawn" value="$(arg respawn)"/>
        <arg name="gp_debug" value="$(arg debug)"/>
        <arg name="ctrl_debug" value="$(arg debug)"/> 
        <arg name="rcvr_debug" value="$(arg debug)"/>  
    </include>

    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_explore.launch">
        <arg name="debug" value="$(arg debug)"/>
    </include>

</launch>
