<launch>
    <arg name="map_path" default="$(find mw_mapping)/maps/mowito_map.yaml"/>
    <arg name="respawn" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="world_name" default="mowito"/>
    <arg name="gui" default="true"/>
    <arg name="cartographer" default="false" />
    <arg name="carto_map" default="$(find mowito_rosbot)/samples/maps/carto_map.pbstream" />


    <!-- SIMULATION -->
    <!-- rosbot and the rviz-->
    <include file="$(find rosbot_description)/launch/rosbot_rviz.launch">
        <arg name="rviz_file" value="rosbot.rviz"/>
    </include>

    <!-- the world -->
    <include file="$(find rosbot_gazebo)/launch/rosbot_world.launch">
        <arg name="world" value="$(find rosbot_gazebo)/worlds/$(arg world_name).world"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- NAVIGATION -->
    <!-- localization node-->
    <group unless="$(arg cartographer)">
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_mwpfl.launch">
        <arg name="map_address" value="$(arg map_path)"/>
        <arg name="robot_init_x" value="0"/>
        <arg name="robot_init_y" value="0"/>
        <arg name="robot_init_phi" value="0"/>
        <arg name="sim" value="true"/>
    </include>
    </group>

    <group if="$(arg cartographer)">
    <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find mowito_rosbot)/config/carto_config
          -configuration_basename rosbot_localization.lua
	  -load_state_filename $(arg carto_map)"
      output="screen">
    </node>  
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
    </group>


    <!-- -for converting the odom msg to tf -->
    <node pkg="utils" type="msg_to_tf" name="msg_to_tf">
        <param name="odometry_topic" value="/odom"/>
    </node>

    <!-- nav server-->
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_nav_server.launch">
        <arg name="mission_executive_config" value="$(find mowito_rosbot)/config/mission_executive_config/mission_executive_params.yaml"/>
        <arg name="respawn" value="$(arg respawn)"/>
        <arg name="gp_debug" value="$(arg debug)"/>
        <arg name="ctrl_debug" value="$(arg debug)"/>  
        <arg name="rcvr_debug" value="$(arg debug)"/>        
    </include>
    
</launch>
